@using CallWall.Web
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in - CallWall</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")

</head>
<body style="font-family: Arial">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CallWall", "Index", "Home", null, new { @class = "brand" })
            </div>
        </div>
    </div>
    <div class="container">

        <!--
            Offer just simple links to the providers to login via their homepage (like stackoverflow)
            Suggest that if you are new, then it is best to register (or do we just bounce them back to the empty Account/Manage view)
        -->
        <section class="social" id="socialLoginForm">
            <h2>Log in</h2>
            <p>Log in via one of your CallWall associated social media accounts.</p>
            
        </section>
        <hr />
        <section class="social" id="socialRegisterForm">
            <h2>Register</h2>
            <p>Register with CallWall by associating your social media accounts.</p>
            @Html.Action("OAuthProviderList", new { ReturnUrl = ViewBag.ReturnUrl })
        </section>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - CallWall</p>
        </footer>
    </div>
</html>